= form_for search_path, method: :get do |f|
  .header-search-item
    %h3.bi.bi-search
    = text_field_tag :q, params[:q], onkeyup: "$(this).parent('form').submit();", class: "form-control me-2", style: "display: inline-block; width: 300px"
    %ul.dropdown{ style: "z-index: 1"}
      -MultySearch.new.search(validate_query(params[:q])).results.take(5).each do |result|
        %li
          = link_to result[:hint][:name], search_result_link(result), class: 'dropdown-item'
          .small.result-type= result[:hint][:type]