%h1= @movie.name
.container{style: "position: absolute; width: 100%"}
  .row
    .col-4
      .list-group.list-group-flush{style: "width: 200px;"}
        .list-group-item= @movie.director&.full_name
        .list-group-item= @movie.category&.name
    .col-8
      .text-justify= @movie.description