%ul.movie-list
  -@movies.each do |movie|
    %li.movie-card
      .card
        .card-header= movie.class
        .card-body
          .card-title= movie.name
          .small= movie.release_date
          = link_to 'Learn more', movie_path(movie), class: 'card-link'
