-@movies.each do |movie|
  %ul.list-group{ style: "display: inline-block;"}
    %li{class: "list-group-item", style: "width: 300px;"}
      .card
        .card-header=movie.class
        .card-body
          .card-title=movie.name
          .card-text=movie.description
          .small=movie.release_date
          = link_to 'Learn more', movie_path(movie), class: 'card-link'
