.user-main
  .profile-info
    %h3.profile-title Profile
    =image_tag 'no_photo.png', class: "user-img"
    .user-email
      .email-title Email
      .email-value= @user.email
  .user-statistics
    .diagrams
      = pie_chart @user.liked_movies.group(:category).count.map { |item| [item[0].name, item[1]] }
    .panel
      %a.panel-item.link
        .count=@user.liked_movies.count
        .panel-label Liked
      %a.panel-item.link
        .count=@user.wished_movies.count
        .panel-label Wished
