/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

.form_container {
  position: absolute; 
  left: 35%; 
  top: 100px; 
  width: 300px;
}

.form_header {
  color: #cc073c;
  font-weight: bold
}

.input-group {
  padding: 0px 0px 5px 0px;
}

.form_button {
  background-color: #cc073c;
  color: #cfcdd1;
}

.check_box { 
  color: #cc073c;
}

.navbar {
  background-color: #111822;
}

.navbar-brand {
  color: #cfcdd1
}

.navbar-brand:hover {
  color: #cc073c;
}

.nav-link {
  color: #cfcdd1;
}

.nav-link:hover {
  color: #cc073c;
}

//= require jquery3
//= require popper
//= require bootstrap-sprockets