// Place all the styles related to the directors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.director-img {
    height: auto;
    width: auto;
}

.director-no-img {
    height: 300px;
    width: 300px;
    border: 1px solid;
}