// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.movie-list {
  position: absolute;
  left: 10%;
  right: 10%;
}

.movie-card {
  width: 200px;
  height: 170px;
  display: inline-block;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}