// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.attributes-list {
  width: 200px;
}

.main {
  position: absolute;
  left: 25%; 
  top: 100px;
}

.movie-clip {
  height: 300px;
  width: 600px;
}

.movie-img {
  height: 300px;
  width: 200px;
}