// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.search-img {
    height: auto;
    width: auto;
}

.search-no-img {
    height: 300px;
    width: 300px;
    border: 1px solid;
}

.search-list {
    list-style: none;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 450px;
    padding: 30px 0px;
}

.search-list li {
    width: 250px;
    height: 350px;
    display: inline-block;
}

.search-item {
    color: #cfcdd1;
}