// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.user-main {
  position: absolute;
  left: 20%;
  top: 100px;
  color: #cfcdd1;
}

.profile-title {
  color: #cc073c;
}

.user-img {
  height: 300px;
  width: 300px;
  border: 3px solid;
  border-radius: 50%;
}

.user-email {
  display: inline-flex;  
  font-size: 15pt;
  width: auto;
  height: 50px;
  position: relative;
  top: 20px;
}

.panel {
  position: relative;
  top: 20px;
  left: 50px;
  height: 200px;
  width: 600px;
}

.email-title {
  color: #cc073c;
  padding: 0px 20px 0px 0px;
}
.email-value {
  color: #cfcdd1;
}

.user-col {
  width: 500px;
}