// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.user-main {
    position: relative;
    color: #cfcdd1;
    width: 80%;
    left: 15%;
}

.profile-title {
    color: #cc073c;
    width: 100px;
}

.profile-info {
    width: 15%;
    float: left;
}

.user-statistics {
    width: 70%;
    float: right;
}

.user-img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.user-email {
    display: inline-flex;
    position: relative;
    font-size: 18px;
    top: 20px;
}

.panel {
    margin: 20px;
    max-height: 75px;
    text-align: center;
    width: 400px;
}

.diagrams {
    text-align: center;
    margin: 50px;
    width: 350px;
}

.panel-item {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

.panel-label {
    display: block;
    font-size: 16px;
}

.count {
    font-size: 18px;
    padding: 3px;
}

.email-title {
    color: #cc073c;
    padding: 0px 20px 0px 0px;
}

.email-value {
    color: #cfcdd1;
}